# NOTAM + METAR Data Processing

Goals:
- Summarize available NOTAM data from prepared notam_extract file. 
- Select example set of facilities (airports) and obtain METARs for the corresponding facilities and date ranges. 
    + Obtain METARs by accessing API
    + Focus on ceiling and runway visual range. Will require some regular expression processing to extract cloud ceiling altitutde. Take the minimum value of each at each facility and time point. 
- Integrate the two. Will require decisions on temporal resolution.
- Prepare data for visualization

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from os import path
import seaborn as sns
pd.options.display.max_rows = 100

In [2]:
# Read NOTAM extract. Obtain data file from shared Box.com site and place in ~/Documents/Notam_local
data_dir = r'~\Documents\Notam_Local' 

notam = pd.read_excel(path.join(data_dir, 'notam_extract.xlsx'), sheet_name = "data", header = 0)

In [3]:
notam.head()

,notam_location,start_time,end_time,keyword,text
0,KSZY,2019-04-02 01:44:00.0,2019-04-17 00:44:00.0,OBST,OBST TOWER LGT (ASR 1269190) 352126.80N0882231...
1,KCXW,2019-04-02 01:46:00.0,2019-04-17 00:46:00.0,OBST,OBST TOWER LGT (ASR 1212822) 345040.40N0923322...
2,KUOS,2019-04-02 01:49:00.0,2019-04-17 00:49:00.0,OBST,OBST TOWER LGT (ASR 1052889) 351222.50N0854828...
3,M95,2019-04-02 01:50:00.0,2019-04-17 00:50:00.0,OBST,OBST TOWER LGT (ASR 1248915) 334516.20N0875825...
4,2A8,2019-04-02 01:54:00.0,2019-04-17 00:54:00.0,OBST,OBST TOWER LGT (ASR 1280021) 340633.40N0870610...

In [4]:
# Choose locations with more than 100 NOTAMs
selection = notam.groupby('notam_location').agg({'start_time': 'max', 'end_time': 'max', 'keyword': 'count'})
filtered_selection = selection[(selection.keyword > 100)]
filtered_selection

                           start_time               end_time  keyword
notam_location
KDVL            2019-05-31 02:00:00.0  2019-05-31 06:00:00.0      142
KDVT            2019-06-29 09:27:00.0  2019-06-28 22:44:00.0      270
KFMY            2019-05-31 13:31:00.0  2019-05-31 18:00:00.0      256
KHUA            2019-06-07 13:00:00.0  2019-06-07 17:00:00.0      146
KLAX            2019-06-14 10:00:00.0  2019-06-14 19:30:00.0      108
KLCQ            2019-06-02 20:45:00.0  2019-06-03 06:29:00.0      152
KMCO            2019-06-30 08:00:00.0  2019-06-30 18:00:00.0      337
KMOB            2019-05-31 01:00:00.0  2019-06-30 19:00:00.0      128
KMSY            2019-06-01 14:44:00.0  2019-06-30 18:00:00.0      207
KPHL            2019-06-29 06:00:00.0  2019-06-30 06:00:00.0      202
KTUS            2019-05-31 11:00:00.0  2019-05-30 20:30:00.0      194
TJSJ            2019-06-30 06:00:00.0  2019-06-30 17:00:00.0      341

In [5]:
# Extract these locations for use in METAR downloading
focal_loc = filtered_selection.index.values
focal_loc[0] # Showing this is now a list

'KDVL'

## Get METARs for these locations and times

- https://mesonet.agron.iastate.edu/request/download.phtml
- https://github.com/akrherz/iem/blob/master/scripts/asos/iem_scraper_example.py

To do:
- adapt functions from `iem_scraper_example.py`, currently in `metar_scraper.py`
- Change main to use the specific start_time and end_time from filtered_selection data frame
- Consider compiling in one file rather than downloading separately by station
- Work on integrating METAR and NOTAM data and visualizing.

In [26]:
# Edit in metar_scraper.py, and uncomment next line to reload -- or consider using "import metar_scraper", but didn't work for me
# %load metar_scraper
"""
Adapted from https://github.com/akrherz/iem/edit/master/scripts/asos/iem_scraper_example.py
Example script that scrapes data from the IEM ASOS download service
"""
from __future__ import print_function
import json
import time
import datetime
# Python 2 and 3: alternative 4
try:
    from urllib.request import urlopen
except ImportError:
    from urllib2 import urlopen

# Number of attempts to download data
MAX_ATTEMPTS = 6
# HTTPS here can be problematic for installs that don't have Lets Encrypt CA
SERVICE = "http://mesonet.agron.iastate.edu/cgi-bin/request/asos.py?"

def download_data(uri):
    """Fetch the data from the IEM

    The IEM download service has some protections in place to keep the number
    of inbound requests in check.  This function implements an exponential
    backoff to keep individual downloads from erroring.

    Args:
      uri (string): URL to fetch

    Returns:
      string data
    """
    attempt = 0
    while attempt < MAX_ATTEMPTS:
        try:
            data = urlopen(uri, timeout=300).read().decode('utf-8')
            if data is not None and not data.startswith('ERROR'):
                return data
        except Exception as exp:
            print("download_data(%s) failed with %s" % (uri, exp))
            time.sleep(5)
        attempt += 1

    print("Exhausted attempts to download, returning empty data")
    return ""


def get_stations_from_filelist(filename):
    """Build a listing of stations from a simple file listing the stations.

    The file should simply have one station per line.
    """
    stations = []
    for line in open(filename):
        stations.append(line.strip())
    return stations


def get_stations_from_networks():
    """Build a station list by using a bunch of IEM networks."""
    stations = []
    states = """AK AL AR AZ CA CO CT DE FL GA HI IA ID IL IN KS KY LA MA MD ME
     MI MN MO MS MT NC ND NE NH NJ NM NV NY OH OK OR PA RI SC SD TN TX UT VA VT
     WA WI WV WY"""
    # IEM quirk to have Iowa AWOS sites in its own labeled network
    networks = ['AWOS']
    for state in states.split():
        networks.append("%s_ASOS" % (state,))

    for network in networks:
        # Get metadata
        uri = ("https://mesonet.agron.iastate.edu/"
               "geojson/network/%s.geojson") % (network,)
        data = urlopen(uri)
        jdict = json.load(data)
        for site in jdict['features']:
            stations.append(site['properties']['sid'])
    return stations


def get_metar(stations):
    """
    Our main method
    stations is a list of airports
    """
    # timestamps in UTC to request data for
    startts = datetime.datetime(2012, 8, 1)
    endts = datetime.datetime(2012, 9, 1)

    service = SERVICE + "data=all&tz=Etc/UTC&format=comma&latlon=yes&"

    service += startts.strftime('year1=%Y&month1=%m&day1=%d&')
    service += endts.strftime('year2=%Y&month2=%m&day2=%d&')

    # Two examples of how to specify a list of stations
    # stations = get_stations_from_networks()
    # stations = get_stations_from_filelist("mystations.txt")
    
    for station in stations:
        uri = '%s&station=%s' % (service, station)
        print('Downloading: %s' % (station, ))
        data = download_data(uri)
        outfn = '%s_%s_%s.txt' % (station, startts.strftime("%Y%m%d%H%M"),
                                  endts.strftime("%Y%m%d%H%M"))
        out = open(outfn, 'w')
        out.write(data)
        out.close()


if __name__ == '__main__':
    get_metar()

TypeError: get_metar() missing 1 required positional argument: 'stations'

In [27]:
get_metar(stations = focal_loc)

Downloading: KDVL
Downloading: KDVT
Downloading: KFMY
Downloading: KHUA
Downloading: KLAX
Downloading: KLCQ
Downloading: KMCO
Downloading: KMOB
Downloading: KMSY
Downloading: KPHL
Downloading: KTUS
Downloading: TJSJ

In [10]:
# View current working directory
import os
os.getcwd()

'C:\\Users\\Daniel.Flynn\\Documents\\git\\notam-metar'